.search-form ng-if="vmSearch.show"
  input.search-input  (type="text"
                      ng-model="vmSearch.query"
                      ng-change="vmSearch.search(vmSearch.query)"
                      ng-model-options="{debounce: vmSearch.debounce}"
                      placeholder="{{ ::vmSearch.placeholder | translate }}")
