.cart-form-container
  .products
    min-height: 300px

    .item-selected
      margin-bottom: 10px
      h5
        font-weight: 300
        text-transform: uppercase
        span
          font-weight: bold
  .taxs
    border-top: 1px dashed #e7e7e7
    padding-top: 10px
    .delivery-price
      display: flex
      h4
        flex-basis: 80%
      input
        flex-basis: 20%
