<nav ng-controller="NavbarController as vmNav"
    class="navbar navbar-default navbar-static-top main-navbar"
    ng-show="!vmNav.showNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Gamut</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="users">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown current-user-dropdown">
          <a data-toggle="dropdown" href="" aria-expanded="false">
            {{user.username}}
          </a>
        </li>
        <li class="dropdown current-user-dropdown">
          <a href="" ng-click="vmNav.logout()" ng-if="user.signedIn">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
