<form class="sign-in-up-form ng-valid-email ng-dirty ng-valid-parse ng-valid ng-valid-required" ng-init="loginForm = {}" ng-submit="submitLogin(loginForm)" role="form" autocomplete="off" style="">
  <div class="form-group">
    <label for="email">Email</label><input class="form-control email-input ng-untouched ng-valid-email ng-not-empty ng-dirty ng-valid ng-valid-required" id="email" name="email" ng-model="loginForm.email" required="required" type="email">
  </div>
  <div class="form-group">
    <label for="password" translate="">Password</label><input class="form-control input-password ng-untouched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required" id="password" name="password" ng-model="loginForm.password" required="required" type="password" style="">
  </div>
  <button class="btn btn-primary btn-sm" translate="" type="submit">Sign in</button>
</form>
<div class="link-to-forms">
  <button class="btn btn-primary btn-sm" ng-click="authenticate('facebook')" translate="">Sign in with Facebook</button>
  <div class="link-sign-in-up">
    <a translate="" ui-sref="register" href="#/register">Register</a>
  </div>
</div></div>
