<div class="restaurant-detail">
  <div id="header-rest" class="text-center">
    <h1>{{::vmRest.rest.name}}</h1>
  </div>
  <div id="body-rest">
    <h4><i class="glyphicon glyphicon-envelope"></i> {{vmRest.rest.email}}</h4>
    <h4><i class="glyphicon glyphicon-map-marker"></i> {{vmRest.rest.address}}</h4>
    <h4><i class="glyphicon glyphicon-earphone"></i> {{vmRest.rest.telephone}}</h4>
    <h4><i class="glyphicon glyphicon-time"></i> {{vmRest.rest.delivery_time}}</h4>
    <h4><i class="glyphicon glyphicon-time"></i> Open 10am-7:00pm</h4>
  </div>
  <a ui-sref="restaurant.edit({restId: vmRest.rest.id})">Edit</a>
</div>
