.container-body
  background-color: #f4f4f4
  width: 100%
  height: 100%
  position: absolute
  color: #153142

/*override styles */
.breadcrumb
  padding-top: 0px
  padding-bottom: 0px
  margin-bottom: 0px
  background-color: white

/*override active link navbar*/
.navbar-default
  .navbar-nav >
    .active > a
      border-bottom: 3px solid #FF4430

.flex-center
  display: flex
  justify-content: center

.clickleable
  cursor: pointer

.row-gls
  margin-right: 0
  margin-left: 0
