.btn.ghost
  background: none
.btn-primary.ghost
  border: 1.5px solid #0099cc
  color: #0099cc

.btn-primary.ghost
  &:hover, &:focus, &:active, &.active
    color: #33a6cc
    border-color: #33a6cc

.btn-primary.ghost
  &:active, &.active
    border-color: #007299
    color: #007299
    box-shadow: none
