.form-menu
  #header
    padding: 10px 15px
    text-align: center
    border: none
    i
      padding-right: 5px
  #body
    color: #344A4D
    .input-group-addon
      background: #30C9E8
      color: white
  #footer
    padding: 0px
    .cancel-btn
      padding: 10px
      background: #E7E7E7
      color: black
      text-align: center
      cursor: pointer
    .save-btn
      padding: 10px
      text-align: center
      background: #30C9E8
      color: white
      cursor: pointer
