.user-information
  padding: 20px
  #primary-info
    padding-bottom: 10px
    .img-user
      img
        max-height: 150px !important
        max-width: 200px !important

.users-section
  .header-panel
    background: white
    padding: 10px 20px 10px 20px
    box-shadow: 0 2px 1px rgba(170,170,170,0.25)
    #content
      display: flex
      justify-content: space-between
      .search-btn
        border-radius: 50px
        color: white
        transition: width 1s ease-in-out
  .body-panel
    margin-top: 3px
    padding: 10px
    background: white
    min-height: 500px
    box-shadow: 0 2px 1px rgba(170,170,170,0.25)
    .logo
      display: flex
      align-items: center
  .search-form
    background: #f8f8f8
    margin-left: -10px
    margin-right: -10px
    margin-top: -10px
    padding: 10px 20px
    border-bottom: 1px solid #e7e7e7
    .search-input
      background-color: #f8f8f8
      border: 0
      border-bottom: 1.2px solid #acacac
      border-radius: 0
      width: 100%
      padding-left: 15px
      font-size: 20px
      transition: border-color ease-in-out .15s
      &:focus
        border-color: #66afe9
        outline: 0
        box-shadow: none
  .inactive-search
    background-color: #5bc0de
  .active-search
    background-color: #ff1e24
    width: 50px
  .user
    padding: 15px 5px 15px 10px
    .link-user
      display: flex
      border: 1px solid #e7e7e7
      border-radius: 5px
      height: 135px
      cursor: pointer
      &:hover
        background-color: #F7F8FA
        border-radius: 5px
      #rol
        i
          padding-right: 5px
