<div class="users-section">
  <div class="row header-panel">
    <span>{{ ::'title.user-list' | translate }}</span>
    <span class="badge pull-right">{{vmUsers.totalUsers}}</span>
  </div>
  <div class="row body-panel">
    <div class="col-md-4 user" ng-repeat="user in vmUsers.UserList">
      <div ui-sref="user.show({ userId: user.id })" class="link-user">
        <div class="col-md-4 col-xs-4 logo">
          <identicon username="user.email" size="80"></identicon>
        </div>
        <div class="col-md-8 col-xs-8 description">
          <h4>{{user.name}}</h4>
          <h6><i class="glyphicon glyphicon-map-marker"></i> {{user.address}}</h6>
          <h6 class="text-muted"><i class="glyphicon glyphicon-user"></i> {{ ::'user.role.' + user.role | translate }}</h6>
          <progresive-bar options="{data: user, height:'5'}"></progresive-bar>
        </div>
      </div>
    </div>
  </div>
</div>

