<div class="container">
  <div class="container-fluid">
    <h1 class="text-center">{{ ::'user.users' | translate }} <span class="badge">{{vmUsers.totalUsers}}</span></h1>
    <table class="table table-striped table-bordered">
      <tr>
        <th>{{ ::'user.attributes.name' | translate }}</th>
        <th>{{ ::'user.attributes.email' | translate }}</th>
        <th>{{ ::'user.attributes.username' | translate }}</th>
      </tr>
      <tr ng-repeat="user in vmUsers.UserList">
        <td>
          <a ui-sref="user({ userId: user.id })">{{ user.name }}</a>
        </td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
      </tr>
    </table>
  </div>
</div>
