<!DOCTYPE html>
<html>
<head>
  <title>Gamut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//rawgithub.com/stewartlord/identicon.js/master/identicon.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
  <div class="container-body">
    <div ng-include="'shared/navbar.html'"></div>
    <div class="container" ui-view></div>
  </div>
</body>
</html>
